PLAYERS=Jannik Sinner,Carlos Alcaraz,Zheng Qinwen
TOURNAMENTS=Roland Garros,Wimbledon,US Open,Australian Open

SOURCES_NEWS=true
SOURCES_ATP_WTA=true
SOURCES_YOUTUBE=true
SOURCES_TWITTER=true
SOURCES_INSTAGRAM=true

CONTENT_HEADLINES_LIMIT=8
CONTENT_SOCIAL_LIMIT=5

AI_MODEL=qwen3.6-max-preview
AI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
AI_API_KEY=
AI_LANGUAGE=zh

YOUTUBE_API_KEY=
APIFY_API_KEY=

SCHEDULE_PUBLISH_TIME=07:00
DEBUG_REPORT_ENABLED=true
